.intro_img01{
    text-align: center;
}
.intro_img02{
    text-align: center;
}
.intro_img03{
    text-align: center;
}
.intro_img04{
    text-align: center;
}
/* .intro_img01_caption,.intro_img02_caption,.intro_img03_caption,.intro_img04_caption{
    /* width: 500%; */
    /* text-align: center; */

.about{
    margin-bottom: 250px;
    margin: 100px;
}

.about02{
    margin-bottom: 100px;
    margin-right: 20px !important;
    align-items: center!important;
    margin-right: 5px !important;
    text-align: center;
}



.Con1,.Con2 > h1 {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    font: normal normal normal 34px/60px 'Century Gothic', sans-serif;
    color: #3b3b3b;
}


/*about our organization*/

/* .intro_img01,.intro_img02,.intro_img03,.intro_img04 > {
    width: 2000px !important;
    text-align: center  !important;
    height: 200px  !important;
} */

.icon{
    text-align: center;
    font: 25px;
}
.icon h2 {
    text-align: center;
    font: normal normal normal 20px/25px 'Century Gothic', sans-serif;
}

.icon p {
    text-align: center;
    font: normal normal normal 14px/23px 'Century Gothic', sans-serif;
}

.player{
    position: relative;
    padding-top: 5%;
    padding-left: 25%;
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
  }


.event_box_wap>h1{
    text-align: center;

}

