@font-face{
    font-family: 'Binggrae';
    src: url(../Binggrae-Bold.ttf) format('truetype');
}
html body{
    scroll-behavior: smooth;
}
.intro_img{
    text-align: center;
}
.event_box_wap h1{
    padding: 20px 10px;
    font-family: 'Binggrae';
}
.about{
    margin-bottom: 250px;
    margin: 100px;
}
.about img{
    width: 100%;
}
.parallax{
    background-image: url(../parallax.jpg);
    background-size: 100% ;
    text-align: center;
    height: 700px;
    padding: 30px;
}
.parallaxList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-weight: bold;
}
.icon{
    text-align: center;
    width: 120px;
    height: 120px;
}
.mvName h1{
    font-family: 'Binggrae';
    padding: 50px 20px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event_box_wap>h1{
    text-align: center;

}
.safedu{
    padding: 30px;
}
.quake{
    margin-bottom: 50px;
}
.fire{
    margin-bottom: 50px;
}
.player{
    margin: 50px 20px;
}
.quake h2{
    font-family: 'Binggrae';
}
.fire h2{
    font-family: 'Binggrae';
}
@media (max-width: 1300px){
    .parallax{
        height: 600px;
    }
}
@media (max-width: 1200px){
     /* aboutPage */
    .about{
        margin: 70px;
    }
    .icon{
        width: 90px;
        height: 90px;
    }
    .parallax{
        height: 500px;
    }
    .parallaxList h2{
        font-size: 1.7rem;
    }
    .parallaxList h5{
        font-size: 1rem;
    }
    .event_box_wap h1{
        font-size: 2.3rem;
    }
}
@media (max-width: 991.98px){
    .card-body{
        padding: .7rem !important;
    }
    .mvName h1{
        font-size: 1.7rem;
        padding: 30px 20px;
    }
    .quake h2{
        font-size: 1.5rem !important;
    }
    .fire h2{
        font-size: 1.5rem !important;
    }
    .card-title{
        font-size: 14px !important;
    }
    .card-text{
        font-size: 13px !important;
    }
    .btn{
        font-size: 13px !important;
    }
    /* aboutPage */
    .icon{
        width: 70px;
        height: 70px;
    }
    .parallax{
        height: 400px;
    }
    .parallaxList h2{
        font-size: 1.5rem;
    }
    .parallaxList h5{
        font-size: .7rem;
    }
    .event_box_wap h1{
        font-size: 1.7rem;
    }
}
@media (max-width: 768px){
    .mvName h1{
        font-size: 1.5rem !important;
        padding: 30px 20px;
    }
    .quake h2{
        font-size: 1.2rem !important;
    }
    .fire h2{
        font-size: 1.2rem !important;
    }
    .card-body{
        padding: .4rem !important;
    }
    .card-title{
        font-size: 13px !important;
    }
    .card-text{
        font-size: 12px !important;
    }
    .btn{
        font-size: 12px !important;
    }
    .parallax{
        height: 300px;
    }
}
@media (max-width: 576px){
    .safedu{
        padding: 15px;
    }
    .mvName h1{
        font-size: 1rem !important;
        padding: 20px 20px;
    }
    .quake h2{
        font-size: 1rem !important;
    }
    .fire h2{
        font-size: 1rem !important;
    }
    .card-text{
        display: none;
    }
    .card-title{
        font-size: 10px !important;
    }
    .btn{
        font-size: 10px !important;
    }
    .about{
        margin: 20px;
    }
    .icon{
        width: 40px;
    }
    .parallax{
        height: 250px !important;
        padding: 20px;
        background-position-y: position / -4;
    }
    .parallaxList{
        width: calc((50% -20px)/2) !important;
    }
    .parallaxList h2{
        font-size: 1rem;
    }
    .parallaxList h5{
        font-size: .5rem;
    }
    .event_box_wap h1{
        font-size: 1.7rem;
    }
}

