.container{
    padding: 10px !important;
}
.navbar{
    padding: 0 !important;
}
.form button{
    width: 100px;
}
.logo{
    display: flex !important;
    align-items: center !important;
    height: 70px !important;
}
.logo img{
    width: 300px;
}
.iconGroup{
    display: flex;
    justify-content: space-between;
    /* background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    padding: 10px; */
}
.iconGroup img{
    width: 20px;
    margin-left: 10px;
}
@media (min-width: 1200px){
    .container{
        max-width: 1400px !important;
    }
}